$highlight-background   : #e4e2de;
$highlight-foreground   : #586e75;
$highlight-comment      : #93a1a1;
$highlight-red          : #dc322f;
$highlight-orange       : #cb4b16;
$highlight-yellow       : #B58900;
$highlight-green        : #859900;
$highlight-aqua         : #2aa198;
$highlight-blue         : #268bd2;
$highlight-purple       : #586e75;
