$highlight-background   :#fdf6e3;
$highlight-foreground   :#fff;
$highlight-comment      :#93a1a1;
$highlight-red          :#dc322f;
$highlight-orange       :#cb4b16;
$highlight-yellow       :#ffeead;
$highlight-green        :#859900;
$highlight-aqua         :#9ff;
$highlight-blue         :#268bd2;
$highlight-purple       :#ebbbff;
